.gitignore/
# Ignore virtual environments
.venv/

# Ignore Python bytecode files
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

industrial_safety_app/ml_models

industrial_safety_app/pt
