<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card__border"></div>
        <div class="card_title__container">
            <span class="card_title">List of missed Checkpoints</span>
        </div>
        <hr class="line" />
        <ul class="card__list">
            <li class="card__list_item">
                <span class="check">
                    <svg
                        class="check_svg"
                        fill="none"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 1L15 15M1 15L15 1"
                            stroke="#FF0000" 
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </span>
                <span class="list_text">Check all doors with latch</span>
            </li>
            <li class="card__list_item">
                <span class="check">
                    <svg
                        class="check_svg"
                        fill="none"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 1L15 15M1 15L15 1"
                            stroke="#FF0000" 
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </span>
                <span class="list_text">Fuel tank filled</span>
            </li>
            <li class="card__list_item">
                <span class="check">
                    <svg
                        class="check_svg"
                        fill="none"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 1L15 15M1 15L15 1"
                            stroke="#FF0000" 
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </span>
                <span class="list_text">Proper powder coating</span>
            </li>
            <li class="card__list_item">
                <span class="check">
                    <svg
                        class="check_svg"
                        fill="none"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 1L15 15M1 15L15 1"
                            stroke="#FF0000" 
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </span>
                <span class="list_text">Time Management</span>
            </li>
            <li class="card__list_item">
                <span class="check">
                    <svg
                        class="check_svg"
                        fill="none"
                        viewBox="0 0 16 16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 1L15 15M1 15L15 1"
                            stroke="#FF0000" 
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </span>
                <span class="list_text">Maintain a Positive Attitude</span>
            </li>
        </ul>
        <button class="button">Get Your Success</button>
    </div>
</body>
</html>
